# dependencies
node_modules/

# build
dist/
.astro/

# bun
bun.lockb

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets
.env
.env.local
.env.production
.dev.vars

# misc
.DS_Store
.vscode/
.idea/
